.row {
  display: flex;
  padding: 2rem 0 3rem;
  position: relative;
  gap: 3%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.testimonials {
  overflow: hidden;
  width: 50%;
}

@media (max-width: 480px) {
  .row {
    flex-direction: column;
    padding: 3rem 0;
  }
  .testimonials {
    width: 100%;
  }
  .feedback_image {
    height: 300px;
  }
}
