.accordion {
    //box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.titleheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    font-size: 2rem;
    button {
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
        padding: 0.7rem 2rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        white-space: nowrap;
        svg {
            margin-right: 0.5rem;
            height: 16px;
            width: 16px;
            margin-top: -0.15rem;
        }
    }
}

.titleWithExtra {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media (max-width: 640px) {
    .titleheader {
        justify-content: flex-start;

        button {
            margin-left: auto;
        }
    }
}

.item {
    background-color: #fff;
    border: 0;
    border-bottom: 1.5px solid #edeef2;
    border-left: 1.5px solid #edeef2;
    border-right: 1.5px solid #edeef2;

    &:first-of-type {
        border-top: 1.5px solid #edeef2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.headerButton {
    width: 100%;
    padding: 1.75rem;
    background-color: #fff;
}

.itemBtnExpanded {
    svg {
        transform: rotate(180deg);
    }
}

.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
        width: 2%;
        transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    }
    & > div {
        display: flex;
        width: 98%;
        justify-content: space-between;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-bottom: 0;
            color: #575757;
        }
    }
}

.body {
    padding: 1.5rem;
    border-top: 1.5px solid #edeef2;
}

@media (max-width: 480px) {
    .item {
        button {
            padding: 1.5rem 2rem 1.5rem 1rem;
            width: 100%;
        }
        .header {
            gap: 0.5rem;
            svg {
                width: 7%;
            }
            & > div {
                width: 93%;
            }
        }
    }
}
