.section {
  background: #fff;
}

.card {
  max-width: 900px;
  margin: 0 auto;
  // background: white;
  padding: 0;
  border-radius: 8px;
  text-align: center;
}

.content {
  h2 {
    font-size: 2.75rem;
    color: #001d23;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #4a4a4a;
    margin-bottom: 3rem;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #001d23;
  font-size: 1.8rem;
  transition: color 0.2s ease;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    color: #ffb013;
  }

  &:hover {
    color: #b3383e;
  }
}

.cta {
  margin-top: 2rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  p {
    margin-bottom: 2rem;
  }

  button {
    font-size: 1.6rem;
    padding: 1.2rem 3rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 5rem 0;
  }

  .card {
    padding: 3rem;
  }

  .content {
    h2 {
      font-size: 2.8rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .contacts {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 0;
  }

  .card {
    padding: 2rem;
    background: #fff;
  }

  .content {
    h2 {
      font-size: 2.4rem;
    }
  }

  .contact {
    font-size: 1.6rem;
  }
}
