.menu_item {
  position: relative;
  list-style-type: none;
  a,
  button {
    display: inline-block;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1.5rem 1rem;
    font-family: var(--font-raleway), "Raleway", sans-serif;
    background: none;
    outline: none;
    color: #2a2c30;
    transition: color 0.2s ease;
  }
  & > a:hover,
  & > button:hover {
    color: #141517;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      margin-left: 1rem;
    }
  }
  svg {
    transition: 0.3s cubic-bezier(0, 0, 0, 1);
  }
}

.nested {
  a,
  button {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1.25rem;
    width: 100%;
    transition: background-color 0.18s ease, color 0.18s ease;
  }
  & > a:hover,
  & > button:hover {
    background-color: #f3f4f6;
  }

  &:last-child {
    a,
    button {
      padding-bottom: 1rem;
    }
  }
  &:first-child {
    a,
    button {
      padding-top: 1rem;
    }
  }
}

.arrow_open {
  transform: rotate(180deg);
}

.footer {
  flex: 0 0 33.33%;
  a,
  button {
    font-size: 1.6rem;
    color: #dedede;
  }
  & > a:hover,
  & > button:hover {
    color: #fff;
  }
  .caret {
    transform: rotate(180deg);
  }
}

.footer.arrow_open {
  .caret {
    transform: rotate(180deg);
  }
}

.footer.nested {
  a,
  button {
    color: #333;
  }
}

@media (max-width: 768px) {
  .footer {
    .caret {
      transform: rotate(0deg);
    }
  }

  .footer.arrow_open {
    .caret {
      transform: rotate(180deg);
    }
  }
  .menu_item {
    flex: 0 0 100%;
    a,
    button {
      font-size: 1.5rem;
      padding: 1.4rem;
      margin: 0;
    }
  }
}
