.section {
  margin-top: -12rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 3;
}

.grid {
  display: flex;
}

.header {
  padding: 40px;
  width: 60rem;
  background: #d50032;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 3rem;
    line-height: 1.3;
    color: #ffffff;
    span {
      font-weight: 900;
    }
  }
  p {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    display: block;
    line-height: 1;
  }
}

@media (max-width: 575px) {
  .section {
    margin-top: -7rem;
  }
  .grid {
    flex-direction: column;
  }
  .header {
    width: 100%;
    padding: 3rem 4rem;
    h3 {
      margin-bottom: 2rem;
    }
  }
}
