.topbar {
  background-color: #d50032;
  padding: 1rem 0;
  & > div {
    display: flex;
    align-items: center;
  }
  a {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 2rem;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.78;
    }
    &:first-child {
      padding: 0 2rem 0 0;
      border-right: 1px solid #e86c8a;
    }
    span {
      margin-right: 0.75rem;
      color: #eee;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 480px) {
  .topbar {
    padding: 0.6rem;
    a {
      padding: 0 1rem;
      font-size: 1rem;

      &:first-child {
        padding: 0 0.75rem 0 0;
      }
      &:last-child {
        border-right: none;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
